.treeItem
{
    display: flex;
    justify-content: space-between;
}

.treeItemLable
{
    display: flex;
    align-items: center;
}

.treeItem a
{
    color: black;
    text-decoration: none;
    margin-left: 0.5em;
}

.pinButton
{
    justify-self: flex-end;
    visibility: hidden;
}

.treeItem:hover > .pinButton
{
    visibility: visible;
}

